APP_NAME=DookInternational
APP_ENV=local
APP_KEY=base64:GENERATE_WITH_php_artisan_key:generate
APP_DEBUG=true
APP_URL=https://adm.dookinternational.com
APP_TIMEZONE=Asia/Kolkata

LOG_CHANNEL=stack

MYSQL_VERSION=latest
#DB_CONNECTION=mysql
#DB_HOST=dooklivedb-do-user-7134451-0.b.db.ondigitalocean.com
#DB_PORT=25060
#DB_DATABASE=dookliveprod
#DB_USERNAME=doadmin
#DB_PASSWORD=LrhFUa8Aku1yfD0g
#DB_SSLMODE=REQUIRED
#MYSQL_ATTR_SSL_CA = /var/www/adm.dookinternational.com/html/public/ca-certificate.crt
#SSL_MODE = required

DB_CONNECTION=mysql
DB_HOST="192.168.4.7"
DB_PORT=3306
DB_DATABASE="dookweb"
DB_USERNAME="root"
DB_PASSWORD=



BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_ENCRYPTION=tls
MAIL_FROM_NAME=Dook-International
MAIL_FROM_ADDRESS =no-reply@dooktravels.com

DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_SPACES_ENDPOINT=https://sgp1.digitaloceanspaces.com
DO_SPACES_REGION=singapore
DO_SPACES_BUCKET=dook-international

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY=
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

pullIt_BaseUrl=https://pullit.tutterflycrm.com/

Image_Urls=https://dooktravels.s3.ap-south-1.amazonaws.com/com

AWS_URL=https://dooktravels.s3.ap-south-1.amazonaws.com
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION="ap-south-1"
AWS_USE_PATH_STYLE_ENDPOINT=false
AWS_BUCKET=dooktravels

GOOGLE_CLOUD_PROJECT_ID="application-project-dook-int"

GOOGLE_CLOUD_STORAGE_BUCKET="dooktravels/com"
BUCKET_NAME="dooktravels"
GOOGLE_CLOUD_STORAGE_PROJECT_ID="application-project-dook-int"
GOOGLE_CLOUD_KEY_FILE=/absolute/path/to/service-account.json


# Facebook App Configuration (REQUIRED)
META_APP_ID=1402663697495136
META_APP_SECRET=
META_PAGE_ID=813992115329497
META_VERIFY_TOKEN=

# Optional: Form IDs for backup import (comma-separated)
META_FORM_IDS=27070569495906620,925971543796656,1551965346638896,1466864048207225

# CRM Configuration
TUTTERFLY_CRM_TOKEN=

META_LONG_LIVED_PAGE_TOKEN=

META_USER_ACCESS_TOKEN=


#DEFAULT_LEAD_PLATFORM=fbRM=fb
TINIFY_AWS_ACCESS_KEY_ID=

TINIFY_AWS_SECRET_ACCESS_KEY=

MAILGUN_SMTP_PASSWORD=

MAIL_PASSWORD=

MAIL_USERNAME="no-reply@dooktravels.com"

GOOGLE_MAPS_API_KEY=
